$bg-primary: #03faee;
$bg-secondary: #f8f8f8;
$color-primary: #8b8b8b;
$shadow: #92f7f2;

@mixin div {
    width: 300px;
    height: 260px;
    padding: 20px;
    display: block;
    align-content: center;
    border: none;
    background-color:$bg-secondary;
    margin: 10px;
}